/*
Dentro de las hojas de estilos hay: 
etiquetas <-- orden alfabético
identificadores
clases
pseudoelementos*/
body
{
	background: rgb(255,255,204); /*fondo*/
	color: #09A68E; /*letra*/
	margin: 0 auto;
	max-width: 1024px; /*ancho máximo*/
	/*color:hotpink;*/
	
}
header
{
	background: pink; /*fondo*/
	border: 1px solid black; /*alrededor*/
	border-radius: 5px; /*esquinas*/
	box-shadow: 5px 5px black;
	color: white; /*letra*/
}
header h1
{
	font-family: 'Roboto Slab', serif;
	text-shadow: 5px 5px 10px white;
	text-align: center;
}
header img
{
	float: right;
	margin-right: 20px;
	margin-top: 25px;
	width: 80px;
}

header nav ul li
{
	/*border: 1px solid #A60C30;*/
	background: #D8D8D7; /*transparente rgba(255,255,255)*/
	border-radius: 5px;
	box-shadow: -5px -5px black;
	display: inline-block; /*rompe caja*/
	color: black;
	margin:0px 35px;
	padding: 10px;
}
header nav ul li:hover
{
	background: black;
	color: white;
}
/*AQUÍ VAN LOS ID'S*/
#seccion1
{
	border: 10px solid red;
}
#seccion1 article
{
	border: 10px solid black;
	display: inline-block;
	vertical-align: top;
	width: 47.8%;
}