body
{
	border: 1px solid blue;
	font-size: 16px;
	margin: 0 auto; /*centra la caja body*/
	max-width: 1024px; /*máximo de ancho*/
}
header
{
	background: #B3D8EB;
}
header nav ul li
{
	color: white;
	display: inline-block;
	margin-right: 20px;
}
header nav
{
	background: #0E6CB0;
	border-radius: 5px;
	padding: 1px 0px 1px 0px;
}


#logo
{
	margin-top: -250px;
}