body
{
	margin: 0 auto;
	width: 1024px;
	text-align: center;
}

table tr td
{
	width: 100px;
	height: 100px;
}

table
{
	border-collapse: collapse; /*PARA QUE SE UNAN LAS LINEAS*/
}

#td1, #td2, #td3, #td4, #td5, #td6
{
	border-bottom: 5px solid black;
}

#td1, #td4, #td7, #td2, #td5, #td8
{
	border-right: 5px solid black;
}