body
{
	font-size: 16px;
	margin: 0 auto;
	max-width: 1024px;
	color: #700F45;
}

header
{
	text-align: center;
}
section article form table
{
	border-collapse: collapse;
	font-size: 5em;
	margin: 0 auto;
}
section article table td
{
	text-align: center;
	width: 100px;
}
#uno,#dos,#cuatro,#cinco
{
	border-bottom: 8px solid #6C4E6E;
	border-right: 8px solid #6C4E6E;
}
#tres, #seis
{
	border-bottom: 8px solid #6C4E6E;
}
#siete, #ocho
{
	border-right: 8px solid #6C4E6E;
}